{% extends 'base.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('website.static', filename='css/home/style.css') }}">
{% endblock %}

{% block content %}
    <div class="wrap-login">
        <h2>register page</h2>
        <form action="{{ url_for('website.register') }}" method="post">
            <div class="email">
                <span>email</span>
                <input type="text" name="email">
            </div>
            <div class="password">
                <span>password</span>
                <input type="password" name="password">
            </div>
            <button type="submit" class="submit-btn">submit</button>
        </form>
    </div>
{% endblock %}