.nav {
    list-style-type: none;
}

.nav li {
    font-size: 20px;
    display: block;
}

.home-title {
    clear: both;
    text-align: center;
}

.slogan {
    float: left;
}

.home-float-right {
    float: right;
    width: 100px;
}
.main-section{
    clear: both;
}