<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('manual_admin.static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3><a href="{{ url_for('manual_admin.home') }}">Home Page</a></h3>
<div class="role-form">
    <form action="{{ url_for('manual_admin.add_role') if role is not defined else url_for('manual_admin.edit_role',id=role.id) }}"
          method="post">

        <div class="role-name">
            <span>role name</span>
            <input type="text" name="role_name" value="{{ '' if role is not defined else role.name }}">
        </div>
        <div class="role-level">
            <span>type</span>
            <input type="text" name="type" value="{{ '' if role is not defined else role.type }}">
        </div>
        <button type="submit" class="role-button">提交</button>
    </form>
</div>
</body>
</html>